Django
pillow
django-cleanup
django-allauth
djangorestframework
django-htmx
django-crontab
django-dbbackup
crispy-bootstrap4
django-phonenumber-field[phonenumberslite]
django-phonenumber-field[phonenumbers]