{% extends 'main.html' %}
{% block content %}



<main class="profile-page layout layout--2">
    <div class="container">
        <!-- Room Start -->
        <div class="room">
            <div class="room__top">
                <div class="room__topLeft">
                    <a href="index.html">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>My Classroom</h3>
                </div>


            <button class="action-button" data-id="120" data-delete-url="https://randomuser.me/api/3324923"
            data-edit-url="profile.html">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>ellipsis-horizontal</title>
              <path
                d="M16 7.843c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 1.98c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
              </path>
              <path
                d="M16 19.908c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 14.046c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
              </path>
              <path
                d="M16 31.974c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 26.111c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
              </path>
            </svg>
          </button>
            </div>
            <div class="room__box scroll">
                <div class="room__header scroll">
                    <div class="room__info">
                        <h3>{{ classroom.name }}</h3>
                        <span>3 days ago</span>
                    </div>
                    <div class="room__hosted">
                        <p id="currentDateTime"></p>
                        
                    </div>
                    <div class="room__details">
                        {{ classroom.description}}
                    </div>
                    <span class="room__topics">
                        {% if request.user.is_superuser == True %}
                            <a href="{% url 'update_classroom' classroom.id %}"> Edit Class</a>
                        {% endif %}
                    </span>
                </div>
                <div class="room__conversation">
                    <div class="threads scroll">
                        {% for post in posts %}
                        <div class="thread">
                            <div class="thread__top">
                                <div class="thread__author">
                                    <a href="#" class="thread__authorInfo">
                                        <div class="avatar avatar--small">
                                            <img src="https://randomuser.me/api/portraits/men/37.jpg" />
                                        </div>
                                        <span>@{{ post.user }}</span>
                                    </a>
                                    <span class="thread__date">{{ post.updated_at | timesince }}</span>
                                </div>
                                <div class="thread__delete">
                                    {% if request.user == post.user %}
                                    <a href="{% url 'delete_post' post.id %}">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                            <title>remove</title>
                                            <path
                                                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                                            </path>
                                        </svg>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="thread__details">
                                <h2>
                                    {{ post.title }}
                                </h2>
                                <br>
                                <small>{{ post.post_body }}</small>
                                {% if post.media != None %}
                                <h3>media here</h3>
                                {% endif %}
                            </div>
                            <br>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
            <div class="room__message">
                <form action="#">
                    <input name="post_title" placeholder="Title here..." />
                    <input name="content" placeholder="Write your message here..." />
                    <input type="submit" value="Submit" />
                </form>

            </div>
        </div>
        <!-- Room End -->

        <!--   Start -->
        <div class="participants">
            <h3 class="participants__top">Class Mates <span>({{ classroom.participants.count }})</span></h3>
            
            <div class="participants__list scroll">
                {% for participant in participants %}
                <a href="{% url 'profile' participant.id %}" class="participant">
                    <div class="avatar avatar--medium">
                        <img src="https://randomuser.me/api/portraits/men/37.jpg" />
                    </div>
                    <p>
                        {{ participant.first_name }} {{ participant.last_name }}
                        <span>@{{ participant.user_name }}</span>
                    </p>
                </a>
                {% endfor %}
            </div>
            
        </div>
        <!--  End -->
    </div>
</main>

<script>
    // Get the current date and time
    var currentDate = new Date();

    // Extract the year, month, day, hour, and minute
    var year = currentDate.getFullYear();

    // Create a string with the desired format
    var formattedDate = "Academic Year of " + year;

    // Display the formatted date in the HTML element
    document.getElementById("currentDateTime").innerText = formattedDate;
</script>

{% endblock content %}
