{% extends 'main.html' %}
{% block content %}
<div>
    <h1>
        Classrooms
    </h1>
    <hr>
    <div>
        {% for subject in subjects %}
        <h2>
            <a href="{% url 'subject' subject.id %}"> {{subject.name}} </a>
        </h2>
        <h3>{{ subject.description}}</h3>
        <span>
            @{{ class.participants}}
        </span>
        {% endfor %}
        {% if request.user == class.class_teacher %}
        <a href="{% url 'update_classroom' class.id %}">Edit</a>
        <a href="{% url 'delete_classroom' class.id %}">Delete</a>
        {% endif %}
        <hr>
    </div>
</div>
{% endblock content %}
