{% block content %}

{% for notification in notifications %}
<div class="activities__box">
    <h3><a href="room.html">{{ notification.title }}</a></h3>
    <div class="activities__boxContent">
        
        <div class="activities__boxRoomContent">
            {{ notification.content }}
        </div>
    </div>
    <div class="activities__boxHeader roomListRoom__header">
        <a href="profile.html" class="roomListRoom__author">
            <div class="avatar avatar--small">
                <img src="https://randomuser.me/api/portraits/women/11.jpg" />
            </div>
            <p>
                @{{ notification.user }}
            </p>
        </a>
    </div>
    <p>{{ notification.updated_at | timesince }}</p>
    <small>
        {% if request.user == notification.user %}
        {% if request.user.user_type != 'Educator' or 'Student' %}
        <a href="{% url 'edit_notification' notification.id %}">Edit</a>
        <a href="{% url 'delete_notification' notification.id %}">Delete</a>
        {% endif %}
        {% endif %}
    </small>
</div>
{% endfor %}

{% endblock content %}
