{% extends 'main.html' %}
{% block content %}
<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

{% if user.is_authenticated %}
<h1>{{user.username}} Profile Here!</h1>
{% endif %}

<div  class="profile-container">
    
    <div>
        <h1>
            My Classroom
            {% for user in all_users %}
            {% for room in classrooms %}
                {%  if me in room.participants.all %}
                    <h3>
                        <h3>
                            {% if user in room.participants.all %}
                                {{ user.user_name }}
                            {% endif %}
                        </h3>
                    </h3>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </h1>
    </div>
    <div>
        <h1>
            About me
        </h1>
        <small>
            {{me.first_name}}
            <br>
            {{me.last_name}}
            <br>
            {{me.race}}
            <br>
            {{me.email}}
            <br>
            {{me.date_of_birth}}
            <br>
            <h3>
                <a href="{{request.META.HTTP_REFERER}}">Back</a>
            </h3>
        </small>
    </div>
    <div>
        <h1>
            My Subjects
        </h1>
        {% for item in subjects %}
        <h3>
            <a href="{% url 'subject' item.id %}">{{ item.title }}</a>
        </h3>
        {% endfor %}
    </div>
</div>

{% endblock content %}  