<style>
    .room-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<div>
    <h1>{{ subj.title }}</h1>
    <h3>{{ subj.description }}</h3>
</div>
<br>
<div class="room-container">
        <div>
            <h2>
                Subjects
            </h2>
        </div>
    <div>
        <div class="comment-wrapper">
            <h2>Conversations</h2>
            {% for message in messages %}
            {% if message.subject.title == subj.title %}
            <h4>{{ message.title }}</h4>
            <h5>{{ message.content }}</h5>
            <h6> @{{ message.user }} - {{ message.created_at | timesince }} ago</h6>
            <hr>
            {% endif %}
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message Here"><br>
            </form>
        </div>
        {% endif %}
    </div>
    <div>
        <h2>
            Participants
        </h2>
        {% for participant in Participants %}
            <small>@{{ participant.first_name }}</small>
        {% endfor %}
    </div>
</div>
<a href="{{ request.META.HTTP_REFERER }}">close</a>